<div class="row" ng-controller="ViewLoginCtrl as vm">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <span class="brand-logo right">DronCafe</span>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="active"><a href="#!/viewLogin">Клиент</a></li>
                    <li><a href="#!/viewCook">Повар</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <form name="authForm" class="col s12" role="form">
        <div class="input-field col s12">
            <input type="text"
                   id="name"
                   ng-model="vm.name"
                   class="validate"
                   required>
            <label for="name">Укажите Имя</label>
        </div>
        <div class="input-field col s12">
            <input type="email"
                   id="email"
                   ng-model="vm.email"
                   class="validate"
                   required>
            <label for="email" data-success="Валидный адрес" data-error="Невалидный адрес" data-success="right">Укажите Email</label>
        </div>
        <submit class="btn waves-effect waves-light" type="submit" ng-click="vm.doLogin()">Войти
            <i class="material-icons right">send</i>
        </submit>
    </form>
</div>
